[submodule "Hollow/vendor/spdlog"]
	path = Hollow/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hollow/vendor/tinyObjLoader"]
	path = Hollow/vendor/tinyObjLoader
	url = https://github.com/syoyo/tinyobjloader
