x64
.vs
bin
bin-int
.vscode
Debug
Sandbox/Sandbox/Resources/*
Hollow/Debug
Hollow/x64
!.gitignore
Sandbox/imgui.ini
Hollow/vendor/lib/assimp-vc140-mtd.lib
Hollow/vendor/lib/assimp-vc140-mtr.lib
/Sandbox/gwen.obj
/Sandbox/gwen.mtl
/Sandbox/cube.obj
