x64
.vs
bin
bin-int
.vscode
Debug
Sandbox/Sandbox/Resources/*
Hollow/Debug
Hollow/x64
!.gitignore
Sandbox/imgui.ini
Hollow/vendor/lib/*
Hollow/vendor/lib/*
Sandbox/vendor/*
Test/Hollow.lib
Test/mesh1.bin
Test/scene.bin