[submodule "Hollow/vendor/spdlog"]
	path = Hollow/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hollow/vendor/tinygltf"]
	path = Hollow/vendor/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "Hollow/vendor/bullet"]
	path = Hollow/vendor/bullet
	url = https://github.com/bulletphysics/bullet3.git
[submodule "Hollow/vendor/ImGui"]
	path = Hollow/vendor/ImGui
	url = https://github.com/ocornut/imgui
[submodule "Hollow/vendor/ImGuizmo"]
	path = Hollow/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
