[submodule "Hollow Engine/vendor/tinyObjLoader"]
	path = Hollow Engine/vendor/tinyObjLoader
	url = https://github.com/syoyo/tinyobjloader
[submodule "Hollow Engine/vendor/spdlog"]
	path = Hollow Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
